/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body  {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Josefin Slab', serif;
}

header, footer {
  width: 100%;
  height: 75px;
  background-color: rgba(175, 64, 15, .85);
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 26pt;
  color: rgb(10, 10, 10);
  line-height: 75px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

nav, section, aside {
  flex-basis: 15%;
  background-color: rgba(175, 64, 15, .65);
  background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  overflow-y: scroll;
}

section {
  flex-grow: 1;
  flex-basis: 50%;
  font-size: 16pt;
}

@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }

  header  {
    order: -1;
  }
  nav {
    order: 0;
  }
  section {
    order: 1;
  }
  aside {
    order: 2;
  }
}
