/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body  {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  background-color: rgb(227, 205, 195);
}

header, footer {
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  text-align: center;
  font-family: 'Special Elite', cursive;
}


nav {
  background-color: rgba(175, 64, 15, .65);
  background-image: url("https://www.transparenttextures.com/patterns/pineapple-cut.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  overflow-y: scroll;
  
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin:auto;
}
